<ion-view>
  <ion-content class="has-header commonBG">
    <div class="row"> 
    <div align="left" class="col col-33">
      <button class="button button-dark-plan" ng-click="cancelEdit()">CANCEL</button>
    </div>
    <div align="center" class="col col-33" style="margin:auto; width: 50%; font-size:24px; color:#39679B;">USER INFO</div>
    <div align="right" class="col col-33">
      <button class="button button-positive-plan" ng-click="saveProfile()">SAVE</button>
    </div>
    </div>



     <div class="list">

    	  <div style="height: 16px"></div>
        <div class="padding">
        	<profile-edit></profile-edit>
    	  </div>

        <div style="height: 66px"></div>
     </div>
  </ion-content>
</ion-view>
